.rrslider-root.getting-started .rrslider-slide-wrapper {
  width: 100%;
  border-radius: .4rem;
  cursor: pointer;
}

@media (min-width: 800px) {
  .rrslider-root.getting-started:not(.fullscreen) .rrslider-slide-wrapper {
    width: calc(100% / 2 - .5rem);
  }

  .rrslider-root.getting-started:not(.fullscreen) .rrslider-slider > div {
    margin: 0 -0.25rem;
  }
  
  .rrslider-root.getting-started:not(.fullscreen) .rrslider-slide-wrapper {
    margin: 0 0.25rem;
  }
}

@media (min-width: 1000px) {
  .rrslider-root.getting-started:not(.fullscreen) .rrslider-slide-wrapper {
    width: calc(100% / 3 - .5rem);
  }
}
