@media (min-width: 600px) {
  .rrslider-root.responsive:not(.fullscreen) .rrslider-slide-wrapper {
    width: calc(100% / 2);
  }
  .rrslider-root.responsive.gap:not(.fullscreen) .rrslider-slide-wrapper {
    width: calc(100% / 2 - .5rem);
  }

  .rrslider-root.responsive.gap:not(.fullscreen) .rrslider-slider > div {
    margin: 0 -0.25rem;
  }
  
  .rrslider-root.responsive.gap:not(.fullscreen) .rrslider-slide-wrapper {
    margin: 0 0.25rem;
  }
}

@media (min-width: 900px) {
  .rrslider-root.responsive:not(.fullscreen) .rrslider-slide-wrapper {
    width: calc(100% / 3);
  }
  .rrslider-root.responsive.gap:not(.fullscreen) .rrslider-slide-wrapper {
    width: calc(100% / 3 - .5rem);
  }
}

@media (min-width: 1100px) {
  .rrslider-root.responsive:not(.fullscreen) .rrslider-slide-wrapper {
    width: calc(100% / 4);
  }
  .rrslider-root.responsive.gap:not(.fullscreen) .rrslider-slide-wrapper {
    width: calc(100% / 4 - .5rem);
  }
}

@media (min-width: 1500px) {
  .rrslider-root.responsive:not(.fullscreen) .rrslider-slide-wrapper {
    width: calc(100% / 6);
  }
  .rrslider-root.responsive.gap:not(.fullscreen) .rrslider-slide-wrapper {
    width: calc(100% / 6 - .5rem);
  }
}

.rrslider-root.responsive.visible-active:not(.fullscreen) .rrslider-slide-wrapper {
  padding: .25rem;
}

.rrslider-root.responsive.visible-active:not(.fullscreen) .rrslider-slide-wrapper.visible {
  background-color: rgb(197, 255, 143);
}

.rrslider-root.responsive.visible-active:not(.fullscreen) .rrslider-slide-wrapper.active {
  background-color: rgb(255, 103, 103);
}
