.rrslider-root {
  position: relative;
  box-sizing: border-box;
  isolation: isolate;
}

.rrslider-root * {
  box-sizing: border-box;
}

.rrslider-root .rrslider-slider {
  position: relative;
  overflow-x: hidden;
  touch-action: none;
  margin: 0;
  padding: 0;
  border: 0;
}

.rrslider-root .rrslider-slider > div {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  border: 0;
}

.rrslider-root .rrslider-slide-wrapper {
  flex-shrink: 0;
  margin: 0;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 100%;
  will-change: transform;
}

.rrslider-root .rrslider-slide-wrapper > div > img {
  max-width: 100%;
  display: block;
}

.rrslider-root .rrslider-prev-btn,
.rrslider-root .rrslider-next-btn {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(0, -50%);
  top: 50%;
  bottom: auto;
  overflow: hidden;
  background: rgba(0, 0, 0, .15);
  padding: .5rem .25rem;
  cursor: pointer;
  transition: background-color ease-out .2s;
}

.rrslider-root .rrslider-prev-btn:hover,
.rrslider-root .rrslider-next-btn:hover {
  background-color: rgba(0, 0, 0, .3);
}

.rrslider-root .rrslider-prev-btn::after,
.rrslider-root .rrslider-next-btn::after {
  content: '';
  width: 1.3rem;
  height: 1.8rem;
  background: center center no-repeat;
}

.rrslider-root .rrslider-prev-btn {
  left: 0;
  border-radius: 0 .5rem .5rem 0;
}

.rrslider-root .rrslider-prev-btn::after {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyMCAzNSI+PHBhdGggZmlsbD0iI2ZmZmZmZiIgZD0ibTE5IDMtMi0yTDEgMTdsMTYgMTYgMS0xTDMgMTcgMTggMnoiLz48L3N2Zz4=");
}

.rrslider-root .rrslider-next-btn {
  right: 0;
  border-radius: .5rem 0 0 .5rem;
}

.rrslider-root .rrslider-next-btn::after {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyMCAzNSI+PHBhdGggZmlsbD0iI2ZmZmZmZiIgZD0ibTEgMyAyLTIgMTYgMTZMMyAzM2wtMS0xIDE1LTE1TDIgMnoiLz48L3N2Zz4=");
}
